<title>Create a Meetup</title>

<h1>Create a Meetup</h1>

<form action="/create" method="post">
  <label for="name" >Meetup Name: </label>
  <input type="text" name="name" id="name" value="">
  <label for="description" >Description: </label>
  <input type="text" name="description" id="description" value="">
  <label for="location">Location: </label>
  <input type="text" name="location" id="location" value="">

  <input type="submit" value="submit">
</form>
